html,body
	margin: 0;
	padding: 0;
	min-width: 980px;
/* For modern browsers */
.clearfix:before, .clearfix:after
	content: "";
	display: table;

.clearfix:after
	clear: both;

/* для IE6-7 */
.clearfix
	zoom: 1;

.page
	background: #f4f5f7;
	font-family: 'Open Sans', sans-serif;
.page__header
	background: #58595b;
	overflow: hidden;
	height: 71px;
.menu-wrap
	width: 960px;
	margin: 0 auto;
.menu
	list-style: none;
	float: left;
	margin: 0 0 0 20px;
	padding: 0;

	&__item
		float: left;

		&-link
			text-decoration: none;
			color: #fff;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			display: block;
			height: 71px;
			line-height: 71px;
			margin: 0 22px 0 0;

			&:hover
				color: #ccc;

.version
	float: left;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	height: 71px;
	margin: 0 0 0 65px;
	line-height: 68px;
	cursor: pointer;
	

	&__icon
		background: url(../../img/glasses.png)
		width: 29px;
		height: 16px;
		float: left;
		margin: 24px 12px 0 0;

	&__text
		float: left;
		text-decoration: none;
		color: #fff;

		&:hover
			color: #ccc;

.search-icon
	background: url(../../img/search.png) no-repeat center center;
	width: 69px;
	height: 71px;
	border-right: 1px solid #8e8e8f;
	border-left: 1px solid #8e8e8f;
	float: left;
	margin: 0 0 0 26px;
	cursor: pointer;

.page__content

.content
	width: 960px;
	margin: 0 auto;
	
	&__header
		overflow: hidden;
		padding: 72px 0 0;
.logo
	float: left;
	font-family: 'PT Sans', sans-serif;

	&__icon
		background: url(../../img/logo.png);
		width: 93px;
		height: 79px;
		float: left;

	&__text
		float: left;
		font-size: 17px;
		color: #58595b;
		font-weight: 700;
		text-transform: uppercase;
		margin: 8px 0 0 8px;
		line-height: 21px;

.select-region
	float: right;
	margin: 16px 0 0 0;

	&__label
		font-size: 14px;
		font-weight: 400;
		color: #000;
		float: left;
		margin: 15px 20px 0 0;

.select
	width: 380px;
	height: 50px;
	border: 0;
	font-size: 14px;
	padding: 0 14px 0;
	-webkit-appearance: none;
	background: #fff url(../../img/triangle.png) no-repeat right center;
	/* for FF */
	-moz-appearance: none;
	  /* for IE */
	-ms-appearance: none;
	appearance: none!important;
	cursor: pointer;

	&__option
		font-size: 16px;
		font-weight: 400;
		color: #000;

.breadcrumbs
	list-style: none;
	margin: 69px 0 0 20px;
	padding: 0;

.breadcrumbs__item
	font-size: 12px;
h1
	font-size: 38px;
	margin: 16px 0 0 18px;

.search
	margin: 49px 0 0 15px;
	position: relative;

	&__field
		width: 790px;
		height: 70px;
		border: 0;
		padding: 0 43px 0;

	&__button
		border: 0;
		padding: 0;
		width: 69px;
		height: 70px;
		background: #34baed url(../../img/search.png) no-repeat center center;
		position: absolute;
		top: 0;
		right: 0;

	&__more
		float: right;
		font-size: 12px;
		color: #34bbed;
		margin: 13px 0 0 0;

.number
	margin: -13px 0 0 20px;

	&__request
		font-size: 28px;
		font-weight: 700;

	&__value
		font-size: 14px;

.filter
	width: 940px;
	height: 64px;
	margin: 37px 0 0 20px;
	border-top: 1px solid #d8dadd;
	border-bottom: 1px solid #d8dadd;
.radio
	float: left;
	margin: 14px 51px 0 0px;
	&__input
		position: absolute;
		clip: rect(0, 0, 0, 0);
		&:checked + .radio__label:before
			background: url(../../img/radio.png) 0px -22px;
	&__label
		cursor: pointer;
		font-size: 12px;
		
		&:before
			content: " ";
			display: inline-block;
			width: 22px;
			height: 22px;
			background: url(../../img/radio.png);
			position: relative;
			top: 6px;
			left: 0px;
			margin: 0 9px 0 0px;

.label-radio__value
	color: #58595b;

.result
	width: 940px;
	margin: 0 0 0 20px;
	&__item
		border-bottom: 1px solid #d8dadd;
		padding: 0 0 25px 0;

.answer
	&__number
		color: #58595b;
		font-size: 16px;
		width: 60px;
		margin: 21px 0 0;
		float: left;

	&__breadcrumbs
		list-style: none;
		margin: 25px 0 0 0;
		padding: 0;
		display: block;
		height: 18px;

		&-item
			float: left;
			font-size: 12px;

			&_color
				color: #34baed

	&__text
		margin: 5px 0 0 60px;
		width: 650px;
		
		&_bg
			background: #bae3f4;

.separator
	color: #34baed;
	float: right;
	margin: 0 6px 0;

.download-more
	width: 220px;
	height: 36px;
	background: #34bbed;
	border: 0;
	display: block;
	border-radius: 18px;
	margin: 29px auto 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;

	&:focus
		outline: 0;

.description
	font-size: 12px;
	margin: 93px 0 0 12px;

.description__item
	float: left;
	
	&-text
		float: left;
.description__item
	margin: 4px 0 0;
	float: left;
	
	.radio
		margin: -7px 0 0 21px;
.text_underline
	text-decoration: underline;
	color: inherit;

.description__item_center
	height: 27px;
	margin: 4px 39px 0 39px;
	padding: 0 33px 0;
	border-right: 1px solid #b6b7b9;
	border-left: 1px solid #b6b7b9;

.page__footer
	height: 50px;